# Объекты компиляции и сборки
*.o
*.obj
*.out

# Исполняемые файлы (бинарники без расширения)
# Если у вас исполняемый файл называется по-другому, добавьте его имя ниже
hello

# Временные файлы отладчика GDB
.gdb_history
gdb.txt

# Логи и отчеты об ошибках
*.log
core
core.*
